<% if (locals.user) {%>  
    <div id="user-chat-box">
        <ul id="chat-messages-list">
            <li class="other-messages">
                <span>
                    Other message
                </span>
            </li>
            <li class="self-messages">
                <span>
                    Self message
                </span>
            </li>
        </ul>

        <div id="chat-message-input-container">
            <input id="chat-message-input" placeholder="type your message">
            <button id="send-message"> Send </button>
        </div>
    </div>

    <%}%>