<li>
    <% if(locals.user && locals.user.id == comment.user.id) {%>
    <br>
    <a href="comments/destroy/<%= comment.id%>">X</a>
    <%}%>
    <p>
        <%= comment.content%>
    </p>
    <small> <%= comment.user.name %></small>
</li>