<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div id="footer-container">
        <span>
            © copy rights resevered @ Mithun.
        </span>
        <div id="links">
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/user/profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</footer>