<link rel="stylesheet" href="<%= assetPath('css/header.css')%>">
<header>

    <div id="header-container">
        <span id="title">
           <a href="/home">Codeial.</a> 
        </span>

        <ul>

            <% if(locals.user){%>
                <li>
                    <a href="/users/profile">
                        <%= user.name %>
                    </a>   
                </li>
                <li><a href="/users/signOut">Sign out</a></li>
            <%} else{%>  
                
            <li><a href="/users/SignIn">Sign in</a></li> 
            <li><a href="/users/SignUp">Sign Up</a></li> 
            <% }%>   
        </ul>

    </div>  
</header>