<h1>
      <%= title%>
</h1>

<section>
      <h4> Posts </h4>
      <form action="/posts/createPost" method="POST" id="new-post-form">
            <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
            <input type="submit" value="Post">
      </form>
      <% if(posts){%>
      <div id="posts-list-container">
            <ul>
                  <% for(post of posts){%>
                    <li>
                        <%= post.content %>
                        <br>
                        <small>
                              <%= post.user.name%>
                        </small>
                    </li>    
                  <% } %>      
            </ul>
      </div>
      <% }%>
</section>
