
#header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(255, 141, 2);
        span{
            margin-left: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: xx-large;
            font-weight: 100;
        }
        ul{
            // background-color: greenyellow;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            li{
                margin: 5px ;
                list-style: none;
            }
        }
        #title a{
            text-decoration: none;
            color: black;
        }
}